<kt-portlet>
	<kt-portlet-body>
		<h3 class='cool'> รายการสมาชิก </h3>
		<mat-form-field appearance="fill">
			<mat-label>CrateDate</mat-label>
			<input matInput [matDatepicker]="picker1" [formControl]="creatDate">
			<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
			<mat-datepicker #picker1></mat-datepicker>
		</mat-form-field>

		&nbsp;&nbsp;

		<mat-form-field appearance="fill">
			<mat-label>EndDate</mat-label>
			<input matInput [matDatepicker]="picker2" [formControl]="endDate">
			<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
			<mat-datepicker #picker2></mat-datepicker>
		</mat-form-field>

		&nbsp;&nbsp;

		<!-- <mat-form-field appearance="fill">
            <mat-label>LINE OA</mat-label>
              <mat-select [(value)]="lineoa">
                <mat-option value="">All</mat-option>
                  <mat-option *ngFor="let website of websiteAll" value="{{website.OA_ID}}">{{website.OA_NAME}}</mat-option>
            </mat-select>
          </mat-form-field>
		&nbsp;&nbsp; -->
		<br>
		<mat-form-field appearance="fill">
			<mat-label>ชื่อจริงลูกค้า</mat-label>
			<mat-icon matPrefix>account_circle</mat-icon>
			<input matInput type="text" class="example-right-align" [(ngModel)]="fristnameS">
		</mat-form-field>
		&nbsp;&nbsp;

		<mat-form-field appearance="fill">
			<mat-label>นามสกุลลูกค้า</mat-label>
			<mat-icon matPrefix>account_circle</mat-icon>
			<input matInput type="text" class="example-right-align" [(ngModel)]="lastnameS">
		</mat-form-field>
		&nbsp;&nbsp;

		<mat-form-field appearance="fill">
			<mat-label>เลขบัญชีลูกค้า</mat-label>
			<mat-icon matPrefix>account_circle</mat-icon>
			<input matInput type="text" class="example-right-align" [(ngModel)]="agentType">
		</mat-form-field>
		&nbsp;&nbsp;

		<mat-form-field appearance="fill">
			<mat-label>Username</mat-label>
			<mat-icon matPrefix>account_circle</mat-icon>
			<input matInput type="text" class="example-right-align" [(ngModel)]="username">
		</mat-form-field>

		
		<br>
		<button class="mb-2" mat-flat-button color="primary" (click)="OnSearch()">Search</button>
		<!-- <button mat-flat-button color="primary" style="float: right;"(click)="ontest()">Serach1</button> -->

		<div class="table-responsive">
			<table style='width: 100%; text-align: center;' mat-table [dataSource]="listTrx" class="mat-elevation-z8">

				<!--- Note that these columns can be defined in any order.
				  The actual rendered columns are set as a property on the row definition" -->

				<!-- No Column -->
				<ng-container matColumnDef="ID">
					<th mat-header-cell *matHeaderCellDef class="centerfont"> No. </th>
					<td mat-cell *matCellDef="let element; let i = index;" class="tablerowcolor"> {{i+1}} </td>
				</ng-container>

				<!-- user Column -->
				<ng-container matColumnDef="MEMBER_USERNAME">
					<th mat-header-cell *matHeaderCellDef class="centerfont"> User </th>
					<td mat-cell *matCellDef="let element" class="tablerowcolor"> {{element.MEMBER_USERNAME}} </td>
				</ng-container>

				<!-- Name Column -->
				<ng-container matColumnDef="MEMBER_FULLNAME">
					<th mat-header-cell *matHeaderCellDef class="centerfont"> Name </th>
					<td mat-cell *matCellDef="let element" class="tablerowcolor"> {{element.MEMBER_FULLNAME}} </td>
				</ng-container>

				<!-- Bank Column -->
				<ng-container matColumnDef="BANKNAME">
					<th mat-header-cell *matHeaderCellDef class="centerfont"> Bank </th>
					<td mat-cell *matCellDef="let element" class="tablerowcolor"> {{element.BANKNAME}} </td>
				</ng-container>

				<ng-container matColumnDef="BANKACCNUM">
					<th mat-header-cell *matHeaderCellDef class="centerfont"> เลขบัญชี </th>
					<td mat-cell *matCellDef="let element" class="tablerowcolor"> {{element.BANK_ACCOUNT_NUMBER}} </td>
				</ng-container>

				<!-- <ng-container matColumnDef="LINEOA">
					<th mat-header-cell *matHeaderCellDef class="centerfont"> LINE OA</th>
					<td mat-cell *matCellDef="let element" class="tablerowcolor"> {{element.OA_NAME}}</td>
				</ng-container> -->


				<!-- recommend Column -->
				<ng-container matColumnDef="PHONE">
					<th mat-header-cell *matHeaderCellDef class="centerfont"> PHONE </th>
					<td mat-cell *matCellDef="let element" class="tablerowcolor">
						<div *ngIf="profile.STAFFCLASSID == '1' || profile.STAFFCLASSID == '2' ">
							{{element.PHONE}}
						</div>
					</td>
				</ng-container>
				<!-- Recommend OtherColum -->
				<!-- <ng-container matColumnDef="recommendother">
		  <th mat-header-cell *matHeaderCellDef class="centerfont"> Recommend Other </th>
		  <td mat-cell *matCellDef="let element" class="tablerowcolor"> {{element.recommendOther}} </td>
		  </ng-container> -->
				<!-- Create date Other-->
				<ng-container matColumnDef="CREATEDATE">
					<th mat-header-cell *matHeaderCellDef class="centerfont"> Create Date </th>
					<td mat-cell *matCellDef="let element" class="tablerowcolor">
						{{element.CREATEDATE | date:'dd/MM/yy HH:mm' :'UTC'}} </td>
				</ng-container>
				<!-- Link recommend -->
				<!-- *ngIf="profile.STAFFCLASSID == 1 || profile.STAFFCLASSID == 2" -->
				<ng-container matColumnDef="editmember">
					<th mat-header-cell *matHeaderCellDef class="centerfont"> แก้ไขข้อมูล </th>
					<td mat-cell *matCellDef="let element" class="tablerowcolor">
						<div *ngIf="profile.STAFFCLASSID == '1' || profile.STAFFCLASSID == '2' ">
						 <button mat-raised-button
							 (click)="openDialogEdit(element.MEMBER_ID)"><span
								class="far fa-edit"></span></button>
							</div>
					</td>
				</ng-container>


				<!-- History deposit -->
				<ng-container matColumnDef="historydeposit">
					<th mat-header-cell *matHeaderCellDef class="centerfont"> ประวัติการเติม </th>
					<td mat-cell *matCellDef="let element" class="tablerowcolor"> <button mat-raised-button
							color="accent" (click)="openDialogHisDepo(element.MEMBER_ID)"><span
								class="far fa-list-alt"></span></button></td>
				</ng-container>

				<!-- History withdraw -->
				<ng-container matColumnDef="historywithdraw">
					<th mat-header-cell *matHeaderCellDef class="centerfont"> ประวัติการถอน </th>
					<td mat-cell *matCellDef="let element" class="tablerowcolor"> <button mat-raised-button color="warn"
							(click)="openDialogHisWithd(element.MEMBER_ID)"><span
								class="far fa-list-alt"></span></button></td>
				</ng-container>

				<!-- Edit withdraw -->
				<ng-container matColumnDef="editTrxlist">
					<th mat-header-cell *matHeaderCellDef class="centerfont"> ลูกค้าลืมรหัส </th>
					<td mat-cell *matCellDef="let element " class="tablerowcolor"> <button mat-raised-button
							(click)="resetPassword(element.MEMBER_USERNAME)"><span class="far fa-edit"></span></button>
					</td>
				</ng-container>
				<!-- display Column -->
				<tr mat-header-row *matHeaderRowDef="displayedColumnTrxlist"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumnTrxlist;"></tr>
			</table>
		</div>

		<mat-paginator [pageSizeOptions]="[10, 20 , 50]">
		</mat-paginator>

		<br>
	</kt-portlet-body>
</kt-portlet>