.centerfont{
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #3F4254;
}

.tablerowcolor{
    background-color: rgba(125, 133, 151, 0.74);
    color: white;
}

.dialogtrxlist-center{
    text-align: center;
}

.trend-dialog .mat-dialog-container{
    overflow-y: hidden !important;
}

.Maininfo{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1.39rem;
}

.headinfo{
    border-bottom: 1px solid #e5e5e5;
}