
<kt-portlet>
  <kt-portlet-body>
      <h3 class="cool"> เพิ่ม/ลด เครดิต</h3>

<!-- table1 -->
      <br>
      <div class="container">
        <mat-card style="text-align: center;">  
          <div class="row">
              <section class="col-lg-12">
                <header>
                  <h5 class="text-left">เพิ่ม/ลด เครดิต</h5>
                </header>
              </section>
            <section class="col col-2">
              <div class="col-md-12"> 
                <mat-radio-group class="example-radio-group" [(ngModel)]="model.trxType">
                  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season.value">
                    {{season.name}}
                  </mat-radio-button>
                </mat-radio-group> 
            <!-- <div class="example-selected-value">you select is: {{model.trxType}}</div> -->
            </div>
            </section>
              <div class="col-lg-2 col-xxl-2">
                <div class="form-group">
                  <label>Username</label>
                    <input type="text" class="form-control" name="uname" [(ngModel)]="model.uname" placeholder="Username" value="model.uname" required>
                    <span class="form-text text-muted" style="color: red !important;">** กรุณากด Search เพื่อตรวจสอบข้อมูลลูกค้าก่อนทำรายการ</span>
                  <a class="btn btn-primary" style="padding: 5px;" (click)="onSearch()"> Search </a>
                </div>
              </div>
              <div class="col-lg-2 col-xxl-2">
                <div class="form-group">
                  <label>Amount</label>
                    <input type="text" class="form-control" name="amount" [(ngModel)]="model.credit" placeholder="Amount" value="model.uname" required>
                  <span class="form-text text-muted">Please enter Amount.</span>
                </div>       
              </div>
            <!-- <section class="col">
              <mat-label>รับโปรโมชั่น</mat-label>
                <mat-form-field appearance="fill">
                  <mat-label>promotion</mat-label>
                    <mat-select>
                <mat-option *ngFor="let promotion of promotions" [value]="promotion">{{promotion.name}}</mat-option>
              </mat-select> 
              </mat-form-field>
              </section> -->
            <div class="col-lg-2 col-xxl-2">
              <div class="form-group">
                <label>Remeark</label>
                  <input type="text" class="form-control" name="remark" [(ngModel)]="model.remark" placeholder="Remark" value="model.uname" required>
                <span class="form-text text-muted">Please enter Remark</span>
              </div>
            </div>
            <section class="col" style="margin: auto;">
              <button class="btn btn-primary" style="padding: 5px;" (click)="onSubmit()" [disabled]="submitButton == false"> ทำรายการ </button>  &nbsp; &nbsp; &nbsp;
                <a class="btn btn-secondary" style="padding: 5px;" (click)="onClearData()"> ล้างข้อมูล </a> 
            </section>
          </div>
        </mat-card>
      </div>
    </kt-portlet-body>
  </kt-portlet>
  <!-- end table1 -->
  
  <kt-portlet>
    <kt-portlet-body>
        
        
    
      <!-- table 2 -->
      <!-- <table style='width: 100%; text-align: center;' mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->
     
    <!-- No. Column -->
    <!-- <ng-container matColumnDef="No">
      <th mat-header-cell *matHeaderCellDef class="fontcenter"> # </th>
      <td mat-cell *matCellDef="let element" class="fontcolorrow"> {{element.No}} </td>
    </ng-container> -->
      <!-- promotion Column -->
      <!-- <ng-container matColumnDef="promotion"> -->
        <!-- <th mat-header-cell *matHeaderCellDef class="fontcenter"> โปรโมชั่น </th> -->
        <!-- <td mat-cell *matCellDef="let element" class="fontcolorrow"> {{element.promotion}} </td> -->
      <!-- </ng-container> -->
    
      <!-- promotionTrans Column -->
      <!-- <ng-container matColumnDef="promotionTrans">
        <th mat-header-cell *matHeaderCellDef class="fontcenter"> รับโปรโมชั่น/ TRANS. </th>
        <td mat-cell *matCellDef="let element" class="fontcolorrow"> {{element.promotionTrans}} </td>
      </ng-container> 
     -->
      <!-- summary Column -->
      <!-- <ng-container matColumnDef="summary">
        <th mat-header-cell *matHeaderCellDef class="fontcenter"> ยอดเงิน </th>
        <td mat-cell *matCellDef="let element" class="fontcolorrow"> {{element.summary}} </td>
      </ng-container> -->
   
      <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bghead"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="bgrow"></tr>
    </table>
   -->
  <br>

  <br>
      <div class="row">
        <div class="col-auto">
          <mat-form-field appearance="fill">
            <mat-label>CrateDate</mat-label>
              <input matInput [matDatepicker]="picker1" [formControl]="creatDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
    
        &nbsp;&nbsp;
        <div class="col-auto">
          <mat-form-field appearance="fill">
            <mat-label>EndDate</mat-label>
              <input matInput [matDatepicker]="picker2" [formControl]="endDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        &nbsp;&nbsp;
        <div class="col-auto">
          <mat-form-field appearance="fill">
            <mat-label>LINE OA</mat-label>
              <mat-select [(value)]="agentType">
                <mat-option value="">All</mat-option>
                  <mat-option *ngFor="let website of websiteAll" value="{{website.OA_ID}}">{{website.OA_NAME}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-auto">
        <mat-form-field appearance="fill" >
          <mat-label>Username</mat-label>
          <mat-icon matPrefix>account_circle</mat-icon>
          <input matInput type="text" class="example-right-align" [(ngModel)]="username">
          </mat-form-field>	

        </div>
        <div class="col-12">
          <button mat-flat-button color="primary" style="float: left;" (click)="refresh()">Serach</button>
        </div>
      </div>
      <h3> รายละเอียด </h3>
    <!-- table3 -->
    <div class="table-responsive">
      <table style='width: 100%; text-align: center;' mat-table [dataSource]="dataSourceSum" class="mat-elevation-z8">
      
      
        <!-- No Column -->
        <ng-container matColumnDef="TRANSACTION_CREDIT_ID">
          <th mat-header-cell *matHeaderCellDef class="centerfont"> # </th>
          <td mat-cell *matCellDef ="let element ;let i = index;" class="fontcolorrow"> {{element.TRANSACTION_CREDIT_ID}} </td>
        </ng-container>
      
        <!-- type Column -->
        <ng-container matColumnDef="TRANSACTION_TYPE">
          <th mat-header-cell *matHeaderCellDef class="centerfont"> ปรเภท </th>
          <td mat-cell *matCellDef="let element" class="fontcolorrow">
            <div *ngIf="element.TRANSACTION_TYPE =='deposit' else trxreturn">
              <span class="label label-inline" style="color: black; background-color:rgb(26, 179, 148);"> เพิ่มเครดิต </span>
          </div>
          <ng-template #trxreturn>
            <div *ngIf="element.TRANSACTION_TYPE =='return' else trxwt">
            <span class="label label-inline" style="color: black; background-color:rgb(85, 237, 224);"> คืนยอดเสีย </span>
          </div>
          </ng-template>
          <ng-template #trxwt>
            <span class="label label-inline" style="color: black; background-color:rgb(255, 0, 0);">ลดเครดิต</span>
          </ng-template>
          </td>
        </ng-container>
  <!-- user Column -->
        <ng-container matColumnDef="MEMBER_USERNAME">
          <th mat-header-cell *matHeaderCellDef class="centerfont"> ยูสเซอร์ </th>
          <td mat-cell *matCellDef="let element" class="fontcolorrow"> {{element.MEMBER_USERNAME}} </td>
        </ng-container>

        <ng-container matColumnDef="OA_NAME">
          <th mat-header-cell *matHeaderCellDef class="centerfont"> LINE OA </th>
          <td mat-cell *matCellDef="let element" class="fontcolorrow"> {{element.OA_NAME}} </td>
        </ng-container>
      
        <!-- creditBefore Column -->
        <!-- <ng-container matColumnDef="creditBefore">
          <th mat-header-cell *matHeaderCellDef class="centerfont"> เครดิตก่อนเติม </th>
          <td mat-cell *matCellDef="let element" style="background-color: red;"> {{0.00}} </td>
        </ng-container> -->
        <!-- Amount Column -->
        <ng-container matColumnDef="CREDIT">
          <th mat-header-cell *matHeaderCellDef class="centerfont"> จำนวนเงิน </th>
          <td mat-cell *matCellDef="let element" style="background-color: yellow;"> {{element.CREDIT}} </td>
        </ng-container>
        <!-- creditAfter Column -->
        <!-- <ng-container matColumnDef="creditAfter">
          <th mat-header-cell *matHeaderCellDef class="centerfont"> เครดิตหลังเติม </th>
          <td mat-cell *matCellDef="let element" style="background-color:green;"> {{0.00}} </td>
        </ng-container> -->
        <!-- date Column -->
        <ng-container matColumnDef="CREATEDATE">
          <th mat-header-cell *matHeaderCellDef class="centerfont"> วันที่ </th>
          <td mat-cell *matCellDef="let element" class="fontcolorrow" type=""> {{element.CREATEDATE | date:'dd/MM/yy HH:mm' :'UTC'}} </td>
        </ng-container>
        <!-- by Column -->
        <ng-container matColumnDef="CREATE_BY">
          <th mat-header-cell *matHeaderCellDef class="centerfont"> ทำโดย </th>
          <td mat-cell *matCellDef="let element" class="fontcolorrow"> {{element.CREATE_BY}} </td>
        </ng-container>
  
         <!-- notes Column -->
         <ng-container matColumnDef="REMARK">
          <th mat-header-cell *matHeaderCellDef class="centerfont"> หมายเหตุ </th>
          <td mat-cell *matCellDef="let element" class="fontcolorrow"> {{element.REMARK}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumnsTRX" class="bghead"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTRX;" class="bgrow"></tr>
      </table>
    </div>
   
    <br>
    <mat-paginator 
    [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
    <!-- end og table 3 -->


    </kt-portlet-body>
  </kt-portlet>

  <!-- [pageSizeOptions]="[5, 10, 20]" -->