<kt-portlet>
	<kt-portlet-body>
		<h3 class='cool'> รายการสรุปฝาก-ถอน </h3>
	<table style='width: 100%;' mat-table [dataSource]="dataSource" class="mat-elevation-z8">
	
		<!--- Note that these columns can be defined in any order.
			  The actual rendered columns are set as a property on the row definition" -->
	  
		<!-- No Column -->
		<ng-container matColumnDef="no">
		  <th mat-header-cell *matHeaderCellDef> No. </th>
		  <td mat-cell *matCellDef="let element"> {{element.no}} </td>
	</ng-container>
	
	<!-- user Column -->
		<ng-container matColumnDef="user">
	  <th mat-header-cell *matHeaderCellDef> User </th>
	  <td mat-cell *matCellDef="let element"> {{element.user}} </td>
	  </ng-container>
	  
		<!-- Name Column -->
		<ng-container matColumnDef="name">
		  <th mat-header-cell *matHeaderCellDef> Name </th>
		  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
		</ng-container>
	  
		<!-- Bank Column -->
		<ng-container matColumnDef="bank">
		  <th mat-header-cell *matHeaderCellDef> Bank </th>
		  <td mat-cell *matCellDef="let element"> {{element.bank}} </td>
		</ng-container>
	  
		<!-- recommend Column -->
		<ng-container matColumnDef="recommend">
		  <th mat-header-cell *matHeaderCellDef> Recommend </th>
		  <td mat-cell *matCellDef="let element"> {{element.recommend}} </td>
	</ng-container>
	<!-- Recommend OtherColum -->
	<ng-container matColumnDef="recommendother">
	  <th mat-header-cell *matHeaderCellDef> Recommend Other </th>
	  <td mat-cell *matCellDef="let element"> {{element.recommendOther}} </td>
	  </ng-container>
	<!-- Create date Other-->
	  <ng-container matColumnDef="createdate">
	  <th mat-header-cell *matHeaderCellDef> Create Date </th>
	  <td mat-cell *matCellDef="let element"> {{element.createdate}} </td>
	  </ng-container>
	<!-- Link recommend -->
	<ng-container matColumnDef="buttonlink">
	  <th mat-header-cell *matHeaderCellDef> Link แนะนำเพื่อน </th>
	  <td mat-cell *matCellDef="let element"> <button mat-raised-button color="accent" >Copy</button></td>
	</ng-container>
  
	<!-- History deposit -->
	<ng-container matColumnDef="historydeposit">
	  <th mat-header-cell *matHeaderCellDef> ประวัติการเติม </th>
	  <td mat-cell *matCellDef="let element"> <button mat-raised-button color="accent" ><span class="far fa-list-alt"></span></button></td>
	</ng-container>
  
	<!-- History withdraw -->
	<ng-container matColumnDef="historywithdraw">
	  <th mat-header-cell *matHeaderCellDef> ประวัติการถอน </th>
	  <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" ><span class="far fa-list-alt"></span></button></td>
	</ng-container>
	
	<!-- Edit withdraw -->
	<ng-container matColumnDef="editTrxlist">
	  <th mat-header-cell *matHeaderCellDef> แก้ไข </th>
	  <td mat-cell *matCellDef="let element"> <button mat-raised-button><span class="far fa-edit"></span></button></td>
	</ng-container>
  
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
	<mat-paginator #paginator
	[pageSize]="10"
	[pageSizeOptions]="[5, 10, 20]"
	[showFirstLastButtons]="true">
  </mat-paginator>
  
	<br>
	  </kt-portlet-body>
	</kt-portlet>