<kt-portlet>
    <kt-portlet-body>
        <h3 class="cool"> รายการสรุปฝากเงิน </h3>
<!-- table1 -->
        <br>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-xxl-6">
              <mat-card class="autotrx" style="text-align: center;">
                <mat-card-title class="justify-content-between" style="text-align: center;">{{TRANSACTION_GEAR_AUTO}}</mat-card-title>
                  <mat-card-subtitle style="text-align: center; font-size: 20px; color: black;">Auto transaction</mat-card-subtitle>
              </mat-card>
            </div>
            <div class="col-lg-6 col-xxl-6">
              <mat-card class="mantrx" style="text-align: center;">
                <mat-card-title class="justify-content-between" style="text-align: center;">{{TRANSACTION_GEAR_MANUAL}}</mat-card-title>
                  <mat-card-subtitle style="text-align: center; font-size: 20px; color: black;">Manual transaction</mat-card-subtitle>
              </mat-card>
            </div>
          </div>
        </div>
      </kt-portlet-body>
    </kt-portlet>
    <!-- end table1 -->
      <kt-portlet>
      <kt-portlet-body>
      <div class="table-responsive">
        <table style='width: 100%; text-align: center;' mat-table [dataSource]="Bankdeposit" class="mat-elevation-z8">
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        <!-- No. Column -->
        <ng-container matColumnDef="No">
          <th mat-header-cell *matHeaderCellDef class="centerfontTableSecond"> No. </th>
          <td mat-cell *matCellDef="let element; let i = index;" class="bgTableSecond"> {{i+1}} </td>
        </ng-container>
          <!-- Bank Column -->
          <ng-container matColumnDef="BANK_TITLE">
            <th mat-header-cell *matHeaderCellDef class="centerfontTableSecond"> ธนาคาร </th>
            <td mat-cell *matCellDef="let element" class="bgTableSecond"> {{element.BANK_TITLE}} </td>
          </ng-container>
        
          <!-- itemList Column -->
          <ng-container matColumnDef="COUNT_TD">
            <th mat-header-cell *matHeaderCellDef class="centerfontTableSecond"> จำนวนรายการ </th>
            <td mat-cell *matCellDef="let element" class="bgTableSecond"> {{element.COUNT_TD}} </td>
          </ng-container> 
        
          <!-- Weight Column -->
          <ng-container matColumnDef="TOTAL_BALANCE">
            <th mat-header-cell *matHeaderCellDef class="centerfontTableSecond"> ยอดรวมเงินฝาก </th>
            <td mat-cell *matCellDef="let element" class="bgTableSecond"> {{element.TOTAL_BALANCE}} </td>
          </ng-container>
        
          <!-- SumBonus Column -->
          <!-- <ng-container matColumnDef="sumBonus">
            <th mat-header-cell *matHeaderCellDef class="centerfontTableSecond"> Symbol </th>
            <td mat-cell *matCellDef="let element" class="bgTableSecond"> {{element.sumBonus}} </td>
          </ng-container> -->
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <br><br>
      <!-- fill date -->
      <div class="row mb-5">
        <div class="col-auto">
          <mat-form-field appearance="fill">
            <mat-label>CrateDate</mat-label>
              <input matInput [matDatepicker]="picker1" [formControl]="creatDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-auto">
          <mat-form-field appearance="fill">
            <mat-label>EndDate</mat-label>
              <input matInput [matDatepicker]="picker2" [formControl]="endDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-auto">
          <mat-form-field appearance="fill">
            <mat-label>LINE OA</mat-label>
              <mat-select [(value)]="agentType">
                <mat-option value="">All</mat-option>
                  <mat-option *ngFor="let website of websiteAll" value="{{website.OA_ID}}">{{website.OA_NAME}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-auto">
        <mat-form-field appearance="fill" >
          <mat-label>Username</mat-label>
          <mat-icon matPrefix>account_circle</mat-icon>
          <input matInput type="text" class="example-right-align" [(ngModel)]="username">
          </mat-form-field>
        </div>
        <div class="col-12">
          <button mat-flat-button color="primary" style="float: left;" (click)="onSearch()">Search</button>
        </div>
      </div>
      <!-- table4 -->
      <div class="table-responsive">
        <table style='width: 100%; text-align: center;' mat-table [dataSource]="Trxdeposit" class="mat-elevation-z8">
          <!-- bank Column -->
          <!-- <ng-container matColumnDef="bank">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> ธนาคาร </th>
            <td mat-cell *matCellDef ="let element" class="bgTableThird"> {{element.bank}} </td>
          </ng-container> -->
        
          <!-- bankName Column -->
          <ng-container matColumnDef="BANK_TITLE">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> ชื่อธนาคาร </th>
            <td mat-cell *matCellDef="let element" class="bgTableThird"> {{element.BANK_TITLE}} </td>
          </ng-container> 
          <!-- user Column -->
          <ng-container matColumnDef="MEMBER_USERNAME">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> ยูสเซอร์ </th>
            <td mat-cell *matCellDef="let element" class="bgTableThird"> {{element.MEMBER_USERNAME}} </td>
          </ng-container>
          <ng-container matColumnDef="OA_NAME">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> LINE OA </th>
            <td mat-cell *matCellDef="let element" class="bgTableThird"> {{element.OA_NAME}} </td>
          </ng-container>
          <!-- timeBank Column -->
          <ng-container matColumnDef="BANK_CREATEDATE">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> เวลาธนาคาร </th>
            <td mat-cell *matCellDef="let element" class="bgTableThird"> {{element.BANK_CREATEDATE}} </td>
          </ng-container>

          <ng-container matColumnDef="CREATEDATE">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> เวลาเข้าระบบ </th>
            <td mat-cell *matCellDef="let element" class="bgTableThird"> {{element.CREATEDATE | date:'dd/MM/yy HH:mm' :'UTC'}} </td>
          </ng-container>
          <!-- timeBalance Column -->
          <ng-container matColumnDef="UPDATEDATE">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> เวลาเติม </th>
            <td mat-cell *matCellDef="let element" class="bgTableThird"> {{element.UPDATEDATE | date:'dd/MM/yy HH:mm' :'UTC'}} </td>
          </ng-container>
          <!-- deposit Column -->
          <ng-container matColumnDef="BALANCE">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> ฝาก </th>
            <td mat-cell *matCellDef="let element" class="bgTableThird"> {{element.BALANCE}} </td>
          </ng-container>
          <!-- bonus Column -->
          <!-- <ng-container matColumnDef="bonus">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> โบนัส </th>
            <td mat-cell *matCellDef="let element" class="bgTableThird"> {{element.bonus}} </td>
          </ng-container> -->
           <!-- credit Column -->
           <!-- <ng-container matColumnDef="credit">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> เติม </th>
            <td mat-cell *matCellDef="let element" class="bgTableThird"> {{element.credit}} </td>
          </ng-container> -->
  
  
           <!-- actionBy Column -->
           <ng-container matColumnDef="ACTION_BY">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> ทำโดย </th>
            <td mat-cell *matCellDef="let element" class="bgTableThird"> {{element.ACTION_BY}} </td>
          </ng-container>
  
           <!-- Note Column -->
           <ng-container matColumnDef="TRANSACTION_GEAR">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> หมายเหตุ </th>
            <td mat-cell *matCellDef="let element" class="bgTableThird" >
              <div *ngIf="element.TRANSACTION_GEAR =='auto' else Notelog">
              <span class="label label-inline" style="color: white; background-color: rgb(26, 179, 148);"> {{element.TRANSACTION_GEAR}} </span>
            </div>
            <ng-template #Notelog>
              <span class="label label-inline" style="color: white; background-color: rgb(237, 85, 101);"> {{element.TRANSACTION_GEAR}} </span>
            </ng-template>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumnssum"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnssum;"></tr>
        </table>
      </div>

      <mat-paginator #paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true">
      </mat-paginator>
      <!-- end og table 4 -->
      </kt-portlet-body>
    </kt-portlet>


