
<kt-portlet>
	<kt-portlet-body>
<mat-dialog-content>
    <h3 class='cool'> รายงานการเติม </h3>
    <table class="mat-elevation-z5 mat-table" style='width: 100%; text-align: center;' mat-table [dataSource]="dataSourceHisDepo">
        <!-- No Column --> 
		<ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef class="dialogtrxlist-center"> No. </th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
        </ng-container>
      
          <!-- user Column -->
        <ng-container matColumnDef="BALANCE">
           <th mat-header-cell *matHeaderCellDef class="dialogtrxlist-center"> ยอดเติม </th>
            <td mat-cell *matCellDef="let element"> {{element.BALANCE}} บาท </td>
        </ng-container>
        
          <!-- Name Column -->
        <ng-container matColumnDef="REMARK">
            <th mat-header-cell *matHeaderCellDef class="dialogtrxlist-center"> หมายเหตุ </th>
            <td mat-cell *matCellDef="let element"> {{element.REMARK}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedDialogTrxDeposit"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedDialogTrxDeposit;"></tr>
    </table>
</mat-dialog-content>
</kt-portlet-body>
</kt-portlet>