<kt-portlet>
  <kt-portlet-body>
   <br>
      <h3 class="cool" style="color:red"> *****รายการถอน  <i (click)="onSerachPending()" class="fas fa-undo"></i></h3>
      <div class="table-responsive">
        <table style="width: 100%; text-align: center;" mat-table [dataSource]="Trxwithdrawpending" class="mat-elevation-z8">
 
          <ng-container matColumnDef="TRANSACTION_WITHDAW_ID">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> # </th>
            <td mat-cell *matCellDef ="let trxwithdrawElement" style="font-size: 1rem;" class="backgroundrow"> {{trxwithdrawElement.TRANSACTION_WITHDAW_ID}} </td>
          </ng-container>
     
          <ng-container matColumnDef="BANK_ACCOUNT_NUMBER">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> เลขบัญชีลูกค้า </th>
            <td mat-cell *matCellDef ="let trxwithdrawElement" style="font-size: 1rem;" class="backgroundrow"> {{trxwithdrawElement.BANK_ACCOUNT_NUMBER}} </td>
          </ng-container>


          <ng-container matColumnDef="NAME">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> ชื่อลูกค้า </th>
            <td mat-cell *matCellDef ="let trxwithdrawElement" style="font-size: 1rem;" class="backgroundrow"> {{trxwithdrawElement.MEMBERFIRSTNAME}}  {{trxwithdrawElement.MEMBERLASTNAME}}</td>
          </ng-container>
      
          <ng-container matColumnDef="MEMBER_USERNAME">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> ยูสเซอร์ </th>
            <td mat-cell *matCellDef ="let trxwithdrawElement" style="font-size: 1rem;" class="backgroundrow"> {{trxwithdrawElement.MEMBER_USERNAME}} </td>
          </ng-container>

          <ng-container matColumnDef="OA_NAME">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> LINE_OA </th>
            <td mat-cell *matCellDef ="let trxwithdrawElement" style="font-size: 1rem;" class="backgroundrow"> {{trxwithdrawElement.OA_NAME}} </td>
          </ng-container>
     
  
          <ng-container matColumnDef="BANK_NAME">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> ธนาคาร </th>
            <td mat-cell *matCellDef ="let trxwithdrawElement" style="font-size: 1rem;" class="backgroundrow"> {{trxwithdrawElement.BANKNAME}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="BALANCE">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> จำนวนเงิน	</th>
            <td mat-cell *matCellDef ="let trxwithdrawElement" style="font-size: 1rem; background-color: #fcbe03;"> <strong>{{trxwithdrawElement.BALANCE}}</strong> </td>
          </ng-container>
  
          <ng-container matColumnDef="CREATEDATE">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> วันที่ทำรายการ	</th>
            <td mat-cell *matCellDef ="let trxwithdrawElement" style="font-size: 1rem;" class="backgroundrow"> {{trxwithdrawElement.UPDATEDATE | date:'dd/MM/yy HH:mm' :'UTC'}} </td>
          </ng-container>

          <!-- Reset. Column -->
          <ng-container matColumnDef="Hand">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> ถอนแล้ว </th>
            <td mat-cell *matCellDef ="let trxwithdrawElement" class="backgroundrow"> 
              <button class="btn btn-success " style="padding: 1px; width: 56px; height: 28px;" (click)="onHand(trxwithdrawElement.TRANSACTION_WITHDAW_ID)" [disabled]="submitButton == false">
                <span class="far fa-check-circle"></span>
              </button>  
            </td>
         
          </ng-container>
          <!-- WithdrawHand. Column -->
          <ng-container matColumnDef="Withdraw">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> ถอน </th>
            <td mat-cell *matCellDef ="let trxwithdrawElement" class="backgroundrow"> 
              <button class="btn btn-primary" style="padding: 1px; width: 56px; height: 28px;" (click)="onWithdraw(trxwithdrawElement.TRANSACTION_WITHDAW_ID)" [disabled]="submitButton == false">
                <span class="fas fa-money-check-alt"></span>
              </button> 
            </td>
          </ng-container>
          <!-- Cancel. Column -->
          <ng-container matColumnDef="Reject">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> ยอดเงินไม่พอ </th>
            <td mat-cell *matCellDef ="let trxwithdrawElement" class="backgroundrow">
               <button class="btn btn-danger" style="padding: 1px; width: 56px; height: 28px;" (click)="onReject(trxwithdrawElement.TRANSACTION_WITHDAW_ID)" [disabled]="submitButton == false">
                <span class="fas fa-undo-alt"></span>
              </button>
            </td>
          </ng-container>
          <!-- Reject. Column -->
          <ng-container matColumnDef="Return">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> ไม่ครบเทริน </th>
            <td mat-cell *matCellDef ="let trxwithdrawElement" class="backgroundrow">
               <button class="btn btn-warning" style="padding: 1px; width: 56px; height: 28px;"  (click)="onReturn(trxwithdrawElement.TRANSACTION_WITHDAW_ID)" [disabled]="submitButton == false">
                <span class="fas fa-undo-alt"></span>
              </button> 
             </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumnsFirstTable"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsFirstTable;"></tr>
        </table>
      </div>
    
    <mat-paginator #paginator
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"
    [showFirstLastButtons]="true">
    </mat-paginator>
    </kt-portlet-body>
</kt-portlet>
<br>

<kt-portlet>
    <kt-portlet-body>
            <div class="row" style="background-color: whitesmoke;" >
                <div class="col-md-7 col-12">
                <!-- <div class="row">
                    <div class="col-12 main">
                        <header style="color: white;">ธนาคาร</header>
                    </div>
                </div>
                <div class="row" style="display: flex; justify-content: center; margin-bottom: 10px;">
                    <table style='width: 100%; text-align: center;' mat-table [dataSource]="bankonwer" class="mat-elevation-z8">
                    
                      <ng-container matColumnDef="ID">
                        <th mat-header-cell *matHeaderCellDef class="fontcenter"> No. </th>
                        <td mat-cell *matCellDef="let HomeData; let i = index;"> {{i+1}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>
      
                      <ng-container matColumnDef="BANK_TITLE">
                        <th mat-header-cell *matHeaderCellDef class="fontcenter"> BankAccount </th>
                        <td mat-cell *matCellDef="let HomeData"> 
                            <img src="assets/media/img/{{HomeData.BANK_TITLE}}.png" width="35px">
                
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                      </ng-container>
              
                        <ng-container matColumnDef="BANK_ACCOUNT_NUMBER">
                          <th mat-header-cell *matHeaderCellDef class="fontcenter"> Account </th>
                          <td mat-cell *matCellDef="let HomeData"> {{HomeData.BANK_ACCOUNT_NUMBER}} </td>
                          <td mat-footer-cell *matFooterCellDef style="color: black;"> Total </td>
                        </ng-container> 
                      
                      
                        <ng-container matColumnDef="SUM_TODAY">
                          <th mat-header-cell *matHeaderCellDef class="fontcenter"> Amount </th>
                          <td mat-cell *matCellDef="let HomeData"> {{HomeData.SUM_TODAY | number}} </td>
                          <td type="number" mat-footer-cell *matFooterCellDef style="color: black;"> {{getTotalAmount() |number }} </td>
                        </ng-container>
                      
                     
                        <ng-container matColumnDef="CREATEDATE">
                          <th mat-header-cell *matHeaderCellDef class="fontcenter"> DateTime </th>
                          <td mat-cell *matCellDef="let HomeData"> {{HomeData.CREATEDATE}} </td>
                          <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displaybankowner"></tr>
                        <tr mat-row *matRowDef="let row; columns: displaybankowner;"></tr>
                        <tr mat-footer-row *matFooterRowDef="displaybankowner" class="backgroundrow"></tr>
                      </table>
                        </div> -->
                        
                    <div class="row">
                        <div class="col-12 main">
                            <header style="color: white;">รายการใหม่</header>
                        </div>
                        <div class="col-12">
                            <td class="text-right">
                                <button class="btn btn-primary btn-block" (click)="openDialogTopupMessage()" style="margin-top: 10px;margin-bottom: 10px;">เติมเงิน (ข้อความไม่เข้า)</button>
                            </td>
                        </div>
                    </div>  
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-12">
                    <div *ngFor="let DataHidden of trxhidden">
                    <div *ngIf="DataHidden.BANK_TITLE =='SCB' else kbank">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 main-header"> 
                              <table class="table table-striped">
                                    <tbody>
                                      <tr style="color: #fff; border: solid 5px #c1c1c1; height: 70px; background-color: rgb(73, 41, 126);">
                                        <td style="width: 55px;">
                                            <img src="assets/media/img/SCB.png" width="35px">
                                        </td>
                                        <td>{{DataHidden.BANK_TITLE}}
                                            <br>
                                            <!-- <small style="display:block"><span class="material-icons" >
                                              access_time
                                              </span>
                                              {{DataHome.timeReceived}}
                                            </small> -->
                                            <br>
                                            <br>
                                            <!-- <b style="color: red;">{{DataHidden.status}}</b> -->
                                        </td>
                                        <td>
                                            <small>ช่องทาง</small>
                                            <br> SMS
                                        </td>
                                        <td >
                                            <small>เวลา</small>
                                            <br> {{DataHidden.CREATDATE}}
                                        </td>
                                        <td>
                                            <small>จำนวนเงิน</small>
                                            <br>
                                            <span class="label label-inline" style="color: #000;">{{DataHidden.BALANCE}}</span>
                                        </td>
                                        <td class="text-right">
                                            <button class="btn btn-default btn-block" (click)="openDialog(DataHidden)"><i class="fa fa-check" ></i> เติม</button>
                                            <div style="padding: 2px;"></div>
                                            <button class="btn btn-primary btn-block" (click)="openDialogHidden(DataHidden)"><i class="fa fa-times"></i> ซ่อน</button>
                                        </td>
                  
                                      </tr>
                                    </tbody>
                                </table>
                        </div> 
                     </div>
                    </div> 
                    <ng-template #kbank>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 main-header"> 
                                  <table class="table table-striped">
                                        <tbody>
                                          <tr style="color: #fff; border: solid 5px #c1c1c1; height: 70px; background-color: #00a950;">
                                            <td style="width: 55px;">
                                                <img src="assets/media/img/KBANK.png" width="35px">
                                            </td>
                                            <td>{{DataHidden.BANK_TITLE}}
                                                <br>
                                                <!-- <small style="display:block"><span class="material-icons" >
                                                  access_time
                                                  </span>
                                                  {{DataHome.timeReceived}}
                                                </small>
                                                <br> -->
                                                <br>
                                                <!-- <b style="color: red;">{{DataHome.status}}</b> -->
                                            </td>
                                            <td>
                                                <small>ช่องทาง</small>
                                                <br> SMS
                                            </td>
                                            <td >
                                                <small>เวลา</small>
                                                <br> {{DataHidden.CREATDATE}}
                                            </td>
                                            <td>
                                                <small>จำนวนเงิน</small>
                                                <br>
                                                <span class="label label-inline" style="color: #000;">{{DataHidden.BALANCE}}</span>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn btn-default btn-block" (click)="openDialog(DataHidden)"><i class="fa fa-check" ></i> เติม</button>
                                                <div style="padding: 2px;"></div>
                                                <button class="btn btn-primary btn-block" (click)="openDialogHidden(DataHidden)"><i class="fa fa-times"></i> ซ่อน</button>
                                            </td>
                      
                                          </tr>
                                        </tbody>
                                    </table>
                            </div> 
                         </div>
                        </ng-template>
                        
                        </div>
                    </div>
                </div>

                <!-- table right -->
                </div>
                <div class="col-md-5 col-12" style="padding-left: 20px;">
                    <div class="row">
                        <div class="col-12 main">
                    <header style="color: white;">รายการล่าสุด</header>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div *ngFor="let home of trxright">
                        <div class="row">
                            <div class="col-2" style="display: flex; justify-content: center; align-items: center">
                                <!-- <div *ngIf="home.BAMK_TITLE =='SCB' else KBANK">
                                    <img src="assets/media/img/SCB.png" width="100%">
                                </div>
                                <ng-template #KBANK>
                                    <img src="assets/media/img/KBANK.png" width="100%">
                                </ng-template> -->
                                <img class="img-fluid" src="assets/media/img/{{home.BANK_TITLE}}.png">
                            </div>
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <span class="pull-left" style="font-weight: bold; font-size: 18px">SMS</span>
                                    </div>
                                    <!-- <div class="col-md-6 col-sm-6 col-lg-6">
                                        <span class="pull-right"> {{home.CREATEDATE}} </span>
                                    </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                          <br>
                                            
                                          <span class="label label-inline" style="background-color: grey; color: white;">{{home.MEMBER_USERNAME}}  </span>
                                            <div style="display:inline-block" *ngIf="home.TRANSACTION_GEAR =='auto' else Actiontype">
                                                <span class="label label-inline" style="background: rgb(26, 179, 148); color: white;">
                                                    auto  </span>
                                            </div>
                                           <ng-template #Actiontype>
                                                <span class="label label-inline" style="background: rgb(237, 85, 101); color: white;">
                                                    manual by {{home.ACTION_BY}}</span>
                                           </ng-template>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                        <p>
                                            ฝาก : <strong>{{home.BALANCE}} บาท </strong>
                                            <br>
                                            <!-- เครดิตหลังเติม : <strong>{{home.HomeCreditAfter}} </strong>   
                                            <br> -->
                                            เวลาเติมสำเร็จ : <strong>{{home.CREATEDATE}} </strong>
                                        </p>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                        <b></b>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                </div>
    </kt-portlet-body>
    </kt-portlet>
