.main{
    font-size: 18px;
    padding-left: 10px;
    background-color: black; 
}

.fontcenter{
    text-align: center;
}

.pull-right{
    float: right;
}

.centerfont{
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: #3F4254;
}


.backgroundrow{
	background-color: rgba(125, 133, 151, 0.74);
	color: white;
}